<div class = 'header'>
    <table>
        <tr>
            <td ng-class = '{"chosen-header": state == "tableView"}' ui-sref = 'tableView'>TABLE VIEW</td>
            <td ng-class = '{"chosen-header": state == "tileView"}' ui-sref = 'tileView'>TILE VIEW</td>
            <td ng-class = '{"chosen-header": state == "editItem"}' ui-sref = 'editItem({id:null})'>ADD / EDIT ITEM</td>
        </tr>
    </table>
</div>
