body{
    margin: 0px;
    font-family: Arial;
}
.header{
    background: rgb(240, 240, 240);
    margin-bottom: 10px;
}
.header table{
    font-size: 16px;
    font-weight: 700;
    border-spacing: 0px;
}
.header td{
    cursor: pointer;
    padding: 10px 25px;
}
.header td:hover{
    background: rgb(200, 200, 200);
}
.chosen-header{
    background: rgb(200, 200, 200);
}
.container{
    width:80%;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
#items-table table, #items-table tr, #items-table td{
    border: 1px solid grey;
    border-spacing: 0px;
    border-collapse: collapse;
    text-align: center;
    padding: 15px 20px;
    font-size: 18px;
}
#items-table table{
    width: 100%;
}
#items-table td{
    width:25%;
}
#tableView input[type = 'text']{
    margin: 0px 0px 10px 5px;
	width: 200px;
	font-size: 13px;
	border-radius: 8px 0px 0px 8px;
}
input[type = 'text'], select{
    outline: none;
    border: 1px solid #cecece;
    background: #F6F6f6;
    border-radius: 6px 6px 6px 6px;
    padding: 5px 5px 5px 10px;
}
input[type = "text"]:focus {
    border: 1px solid rgb(150, 217, 232)
}
a.btn, button {
    font-size: 15px;
    text-decoration: none;
    user-select: none;
    outline: none;
    border: 1px solid #cecece;
    border-radius: 6px 6px 6px 6px;
    padding: 5px 10px 5px 10px;
    background: #F6F6f6;
    cursor: pointer;
}
a.btn:hover { cursor: pointer;}
a.btn:active {
     border: 1px solid rgb(150, 217, 232);
     background: rgb(230, 230, 230);
}
a:visited{
    color: black;
}
#addItemBlock{
    position: relative;
    margin: 5px;
    border: 2px solid grey;
    width: 400px;
    height: 500px;
    padding: 10px 10px 10px 30px;
}
.text-right{
    text-align: right;
    padding-right: 10px;
}
#dragAndDrop{
    display: table-cell;
    vertical-align: middle;
    width: 100px;
    height: 100px;
    background: rgb(240,240,240);
    border: 3px dotted grey;
    text-align: center;
}
.tile{
    width: 150px;
    height: 200px;
    border: 1px solid grey;
    display: inline-block;
    margin: 20px;
    padding: 20px 15px 15px 15px;
    text-align: center;
}
.margin5{
    margin: 5px;
}
.margin10{
    margin: 10px;
}
.pointer{
    cursor: pointer;
}
input[type = 'submit']{
    display: none;
}
