<div>
    <input type = 'text' ng-model = 'preItemsFilter'><a ng-click = 'filterIt()' class = 'btn' style = "border-radius:0px 8px 8px 0px; padding: 3px 8px 5px 5px">Search</a>

    Per page
    <select ng-model = 'itemsPerPage'>
        <option ng-repeat = 'val in [1,3,5,10]' value = '{{val}}' ng-selected = 'val==10'>{{val}}</option>
    </select>

    Page
    <select ng-model = 'page'>
        <option ng-repeat = 'val in [1,2,3,4,5]' value = '{{val}}' ng-selected = 'val==1'>{{val}}</option>
    </select>
</div>
