<div id = 'addItemBlock'>
    <h2>{{ctrl.id ? 'Edit' : 'Create new'}} item</h2>
    <form ng-submit = 'ctrl.saveItem()' name = 'form'>
        <table>
            <tr>
                <td class = 'text-right'>Title</td><td><input required type = "text" ng-model = 'ctrl.product.title'></td>
            </tr>
            <tr>
                <td class = 'text-right'>Display</td><td><input required type = "text" ng-model = 'ctrl.product.display'></td>
            </tr>
            <tr>
                <td class = 'text-right'>Memory</td><td><input required type = "text" ng-model = 'ctrl.product.memory'></td>
            </tr>
            <tr>
                <td class = 'text-right'>Color</td><td><input required type = "text" ng-model = 'ctrl.product.color'></td>
            </tr>
        </table>

        <div id = 'dragAndDrop' dropfile img-src = 'ctrl.product.src'>IMAGE</div>
        <img width = 100 height = 100 ng-src = '{{ctrl.product.src}}' style = 'margin-top: 10px'>

        <div style = "position: absolute; bottom: 15px; right:15px">
            <button type = 'submit' class = 'btn' ng-if = '!ctrl.id' ng-disabled = '!form.$valid'>Add</button>
            <button type = 'submit' class = 'btn' ng-if = 'ctrl.id' ng-disabled = 'form.$pristine'>Edit</button>
            <a ng-if = 'ctrl.id' class = 'btn' ng-click = 'ctrl.removeItem()'>Remove</a>
            <a class = 'btn' ui-sref = 'tableView'>Cancel</a>
        </div>
    </form>
<div>
