<div id = 'tableView'>
    <toolbar
        pre-items-filter = 'ctrl.preItemsFilter'
        filter-it = 'ctrl.filterIt()'
        items-per-page = 'ctrl.itemsPerPage'
        page = 'ctrl.page'
    ></toolbar>

    <div id = 'items-table'>
        <table>
            <tr><td>Title</td><td>Display</td><td>Memory</td><td>Color</td></tr>
            <tr ng-repeat = 'item in ctrl.items | filter: ctrl.itemsContentFilter  | pageFilter:ctrl.page:ctrl.itemsPerPage' ui-sref = 'editItem({id:item.id})' class = 'pointer'>
                <td>{{item.title}}</td>
                <td>{{item.display}}</td>
                <td>{{item.memory}}</td>
                <td>{{item.color}}</td>
            </tr>
        </table>
    </div>
</div>
