<div id = 'tableView'>
    <toolbar
        pre-items-filter = 'ctrl.preItemsFilter'
        filter-it = 'ctrl.filterIt()'
        items-per-page = 'ctrl.itemsPerPage'
        page = 'ctrl.page'
    ></toolbar>

    <div>
        <div class = 'tile pointer' ng-repeat = 'item in ctrl.items | filter: ctrl.itemsContentFilter  | pageFilter:ctrl.page:ctrl.itemsPerPage'  ui-sref = 'editItem({id:item.id})'>
            <img style = "width:80px;height:80px" ng-src = '{{item.src}}'>
            <div class = 'margin5'>{{item.title}}</div>
            <div class = 'margin5'>Display: {{item.display}}</div>
            <div class = 'margin5'>Memory: {{item.memory}}</div>
            <div class = 'margin5'>Color: {{item.color}}</div>
        </div>
    </div>
</div>
